@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%; /* White */
    --foreground: 0 0% 10.6%; /* #1B1B1B */

    --card: 0 0% 99%;
    --card-foreground: 0 0% 10.6%;

    --popover: 0 0% 99%;
    --popover-foreground: 0 0% 10.6%;

    --primary: 0 0% 10.6%;
    --primary-foreground: 0 0% 99%; /* White */

    --secondary: 0 0% 95.3%; /* #F3F3F3 */
    --secondary-foreground: 0 0% 10.6%;

    --muted: 0 0% 95.3%; /* #F3F3F3 */
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 95.3%; /* #F3F3F3 */
    --accent-foreground: 0 0% 10.6%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 99%;

    --border: 0 0% 88.2%; /* #E1E1E1 */
    --input: 0 0% 88.2%; /* #E1E1E1 */
    --ring: 207 100% 41.6%; /* #0078D4 */

    --radius: 0.5rem;

    --scrollbar-thumb: #e1e1e1;
    --scrollbar-track: #f3f3f3;
  }
}

::selection {
  box-shadow: rgba(0, 120, 212, 0.4) 5px 5px;
  color: hsl(var(--foreground));
}

html,
body {
  font-family: 'Inter', sans-serif !important;
}

.dumy {
  color: hsl(0 0% 98%);
  color: rgb(38, 38, 38);
  /* @apply to-blue-500 */
}

::-webkit-scrollbar {
  width: 6px;
  scrollbar-color: #262626;
}

::-webkit-scrollbar-thumb {
  background-color: #262626;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.gradient {
  background: conic-gradient(
    from 230.29deg at 51.63% 52.16%,
    #2563eb 0deg,
    #3b82f6 60deg,
    #38bdf8 120deg,
    #7dd3fc 180deg,
    #38bdf8 240deg,
    #3b82f6 300deg,
    #2563eb 360deg
  );
}

.not-found {
  box-shadow: rgba(0, 120, 212, 0.4) 5px 5px; /* Softer glow of your blue */
}
